Satisfy Any

# AuthType Basic
# AuthName "Members Only"
# AuthUserFile /home1/lifelip9/public_html/.htpasswd
# Require valid-user

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule>

RewriteEngine on
# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php
RewriteCond %{HTTP_HOST} ^demo\.lifelinetoday\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.demo\.lifelinetoday\.com$
RewriteRule ^/?$ "http\:\/\/lifelinetoday\.com\/demo" [R=301,L]

